body {
    position: absolute;
    height: 98.9vh;
    width: 98.9vw;
    margin: 0;
    background-image: url("./Images/background.png");
}

header {
    padding: 0;
    margin: 0;
    height: 10px;
    width: 98.9vw;
    background-color: rgba(72, 206, 230, 0.932);
    position: relative;
}

.logo {
    padding: 0;
    margin: 0;
    background-color: mediumblue;
    color: rgb(250, 250, 123);
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 2em;
}

.navbar {
    margin: 0;
    padding: 0;
    height: 3em;
    width: 98.9vw;
    font-family: Verdana;
    font-size: 10;
    background-color: rgb(111, 97, 236);
    position: sticky;
    top: 0em;
}

.navbar a {
    margin: 0;
    border-width: 0;
    border-radius: 0;
    background-color: rgb(111, 97, 236);
    height: 2em;
    width: 9em;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 0;
}

.navbar a:hover {
    background-color: rgb(25, 0, 255);
    color: rgb(108, 231, 190);
}

.navbar .current {
    background-color: blue;
    color: rgb(108, 231, 190);
}

.navbar .button--login {
    text-align: center;
    background-color: rgb(111, 97, 236);
    float: right;
}

main {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.informations {
    margin: 0;
    padding: 3em 5em;
    text-align: justify;
    background-color: rgb(14, 101, 151);
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    padding-left: 10vw;
}

.courses {
    margin: 0;
    padding: 3em 5em;
    height: 80vh;
    text-align: justify;
    background-color: rgb(8, 54, 80);
    font-family: 'Courier New';
    color: rgb(255, 255, 255);
    padding-left: 10vw;
}

.gallery {
    margin: 0;
    padding: 0;
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.image {
    margin: 1em;
    border-radius: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.image:hover .description {
    display: block;
}

img {
    border-radius: 10px;
    width: inherit;
    height: inherit;
}

.description {
    display: none;
    margin: 0;
    padding: 0em 1em;
    border-radius: 7px;
    width: 91%;
    color: black;
    background-color: rgba(255, 255, 255, 0.568);
    font-size: 1em;
    font-family: cursive;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.contact {
    padding: 10em 15em;
    text-align: center;
}

.contact p {
    font-size: 2em;
    background-color: rgba(248, 174, 184, 0.925);
    border-radius: 5px;
}

.copyright {
    padding: 5em 0em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.678);
    font-family: 'Segoe UI';
    font-size: 15px;
}

footer {
    padding: 0;
    margin: 0;
    height: 10px;
    background-color: rgba(72, 206, 230, 0.932);
    position: relative;
    align-items: flex-end;
}